@{
    ViewBag.Title = "Home Page";
}


<div class="col-md-12">
    @Html.EJS().Grid("Grid").AllowResizing(true).AllowTextWrap().AllowSorting().AllowFiltering().Width("auto").Columns(col =>
    {
        col.Field("IdCte_Ideti").HeaderText("IdCte_Ideti").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
        col.Field("Nombre").HeaderText("Nombre").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Razon_Social").HeaderText("Razon Social").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("RFC").HeaderText("RFC").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
        col.Field("Telefono").HeaderText("Telefono").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Correo").HeaderText("Correo").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
        col.Field("Giro").HeaderText("Giro").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
        col.Field("checklogin").HeaderText("checklogin").Visible(false).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
        col.HeaderText("Agregar").Template("#Opciones2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
    }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageSize(10)).Locale("es-mx").Render()
</div>