@{
    Layout = "~/Views/Shared/_Layout Empleado.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-text h4">
                <div class="card-icon">
                    <i class="fas fa-users"></i>
                </div>
                <h4 class="card-title">Completar venta</h4>
            </div>
            <div class="card-body ">
                <div class="row col-md-12">

                </div>
                <br />
                <div class="row">

                    <div class="col-md-12">
                        @Html.EJS().Grid("Grid").AllowResizing(true).AllowTextWrap().AllowSorting().AllowFiltering().Width("auto").AllowResizing().Columns(col =>
                        {
                            col.Field("IdVentaAuto").HeaderText("IdVentaAuto").IsPrimaryKey(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Visible(false).Add();
                            col.Field("Nombre").HeaderText("Cliente").Visible(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            col.Field("Carro").HeaderText("Carro").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            col.Field("Anio").HeaderText("Año").Visible(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            col.Field("Telefono").HeaderText("Telefono").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            col.Field("TelefonoCasa").HeaderText("Telefono Casa").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            col.Field("Correo").HeaderText("Correo").Visible(true).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            
                            col.HeaderText("Agregar").Template("#Opciones2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        }).AllowPaging().SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Single)).PageSettings(page => page.PageSize(10)).Locale("es-mx").Render()
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script id="Opciones2" type="text/x-template">

    <div class="btn-group">
        <a class="text-info" href="javascript:void(0)" onclick="AddLicencia(${IdCte_Ideti})" data-toggle="tooltip" data-placement="top" title="Agregar Licencia">
            <i class="material-icons">add</i>
        </a>
        <a class="text-info" href="javascript:void(0)" onclick="UpdateCliente(${IdCte_Ideti})" data-toggle="tooltip" data-placement="top" title="Actualizar Cliente">
            <i class="material-icons">create</i>
        </a>
        <a class="text-info h4" href="javascript:void(0)" onclick="Agregar_Login(${IdCte_Ideti})" data-toggle="tooltip" data-placement="top" title="Generar Login">
            <i class="fas fa-key"></i>
        </a>
    </div>



</script>
<script>
    $(function () {
        $.get('@Url.Action("gridVentaAuto", "Empleado")', function (data) {
            var grid = document.getElementById('Grid').ej2_instances[0]; // Grid instance
            grid.dataSource = JSON.parse(data);
        });
    });
</script>